<html>
    <head>
        <title>Kinjo's Home Page</title>
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <%= yield %>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script src='/js/bootstrap.bundle.min.js'></script>
        <script src='/js/bootstrap.min.js'></script>
    </body>
</html>