<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">

    <input type="submit" value="送信する">
</form>
<%# imagesディレクトリのファイルをimgタグで表示する %>
<% @images.each do |image| %>
    <img src="/images/<%= image %>" />
<% end %>